[buildout]
parts =
    instance zopepy sphinx test
extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg

versions = versions
sources-dir = ${buildout:directory}/devsrc
sources = sources
allow-picked-versions = true

develop = .

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
environment-vars =
    zope_i18n_compile_mo_files 1
eggs =
    Pillow
    Plone
    slc.xliff


[sphinx]
recipe = zc.recipe.egg
eggs =
    sphinx
    Pillow
scripts =
    sphinx-build

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = slc.xliff [test]
defaults = ['--auto-color', '--auto-progress']