
[buildout]
extensions = mr.developer
parts =
    instance zopepy sphinx
extends =
    http://dist.plone.org/release/4.0-latest/versions.cfg
find-links +=
    http://dist.repoze.org/

versions = versions
sources = sources
allow-picked-versions = true
#auto-checkout =
#    slc.xliff

develop .

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 4050
debug-mode = on
verbose-security = on
environment-vars =
    zope_i18n_compile_mo_files 1
eggs =
    PIL
    Plone
    Products.Linguaplone== 4.0a4
    slc.xliff
zcml = 
    slc.xliff

[sphinx]
recipe = zc.recipe.egg
eggs =
    sphinx
    PIL
scripts =
    sphinx-build

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[sources]
slc.xliff = svn https://svn.plone.org/svn/collective/slc.xliff/trunk/

[testp4]
recipe = collective.xmltestreport
eggs = slc.xliff [plone4,tests]
defaults = ['--auto-color', '--auto-progress']
