include *.in
include *.py
include *.rst
include *.txt
include base.cfg
include buildout.cfg
include test_plone52.cfg
include test_plone60.cfg
recursive-include docs *.EUPL
recursive-include docs *.GPL
recursive-include docs *.txt
recursive-include src *.gif
recursive-include src *.pt
recursive-include src *.txt
recursive-include src *.xml
recursive-include src *.zcml
